.page-home {
  display: flex;
  align-items: center;
  justify-content: center;

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    .fancy-box {
      transform: rotate(-15deg);

      .top-line, .second-line {
        font-family: 'Great Vibes', cursive;
      }

      .top-line {
        font-size: 80px;
        margin: 0;
      }

      .second-line {
        font-size: 55px;
        margin: 0;
        position: relative;
        top: -37px;
        left: 18px;
      }
    }
  }
}
