.content {
  padding: 10px 10px 3em;
  background-color: rgba(0, 0, 0, 0.3);

  @media screen and (max-device-width: 768px) {
    padding: 20px 20px 6em;
    background-color: rgba(0, 0, 0, 0.6);
  }

  > div {
    margin: 0 auto;

    @media screen and (min-device-width: 768px) {
      max-width: 500px;
    }
  }

  .wedding-person {
    margin-bottom: 2em;

    img, .person-info {
      float: left;
    }

    .person-info {
      width: 380px;
      padding-left: 10px;
    }

    .person-name {
      margin-top: -.125em;
      font-weight: bold;
    }

    p:last-child {
      margin-bottom: 0;
    }

    &:after {
      // clearfix
      content: "";
      display: table;
      clear: both;
    }
  }
}
