@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Great+Vibes|Raleway:400,700');

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body, #root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

body {
  background: url(/assets/images/background.jpg) no-repeat 28% center fixed;
  background-size: cover;
  margin: 0;
  font-family: 'Raleway', sans-serif;

  @media screen and (max-device-width: 1024px) {
    background-position-x: 25%;
  }
  @media screen and (max-device-width: 768px) {
    background-position-x: 22%;
  }
  @media screen and (max-device-width: 380px) {
    background-position-x: 20%;
  }
}

a {
  color: #fff
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amatic SC', sans-serif;
}

h1 {
  font-size: 250%;

  @media screen and (max-device-width: 768px) {
    font-size: 350%;
  }
}

h2 {
  font-size: 300%;
}

h3 {
  font-size: 270%;
}
