@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Great+Vibes|Raleway:400,700');

html, body {
  height: 100%;
}

body, #root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

body {
  background: url(/assets/images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

a {
  color: #fff
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amatic SC', sans-serif;
}

h1 {
  font-size: 250%;
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 170%;
}
