@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Great+Vibes|Raleway:400,700');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amatic SC', sans-serif;
}
